##### DISCORD CONFIG ###################
# API-Token to use with Discord
#discord.apitoken=API_TOKEN

# ID of the channel the stream alert should be sent in
#discord.channelid=CHANNELID

##### TWITCH CONFIG ####################
# Client ID of the Twitch Application
#twitch.clientId=CLIENTID

#Twitch Secret of the Application
#twitch.clientSecret=CLIENTSECRET

#Twitch OAuth-Token of the Application
#twitch.oauthtoken=AUTH_TOKEN

##### BOT CONFIG #######################
# The twitch channels to monitor, seperated by a comma
#bot.channelsToMonitor=CHANNEL1,CHANNEL2